
{{> header}}
<div class="card">
    <div class="card-body">
        {{#unless isListEnabled}}

        <h3>Dashboard</h3>

            {{else}}
            <p>The VAR above is not FALSE, so Im gonna Appear here </p>

        {{/unless}}

        {{#with author as |x|}}

            {{firstName}} {{lastName}}
            
            {{x.project.name}}

        {{/with}}
  
    </div>
</div>
      
{{> footer}}