{{> header}}

    <h2>Lookup Page</h2>

    <p>{{lookup game 'gameTitle'}}</p> //Looking for a Key called 'gameTitle' on an Object 

    <p>{{lookup brand 3}}</p> //Looking for a Index on an array

{{> footer}}

