<div class="card bg-dark">
    <div class="card-body">
        <h2 class="card-header bg-light text-center">Express Handlebars</h2>

        <div class="text-center mt-3">
            <a href="/admin/"><button class="btn btn-light">Home Page</button></a>
            <a href="/admin/about"><button class="btn btn-light">About Page</button></a>
            <a href="/admin/dashboard"><button class="btn btn-light">Dashboard Page</button></a>
            <a href="/admin/each/helper"><button class="btn btn-light">Contact Page</button></a>
            <a href="/admin/lookup"><button class="btn btn-light">Lookup</button></a>
        </div>

    </div>
</div>