<h1>Header</h1>

<a href="/admin/"><button>Home Page</button></a>
<a href="/admin/about"><button>About Page</button></a>
<a href="/admin/dashboard"><button>Dashboard Page</button></a>
<a href="/admin/each/helper"><button>Contact Page</button></a>
<a href="/admin/lookup"><button>Lookup</button></a>

<p>
    This is the header
</p>